@import 'mixinsAndVars';

.container{
    margin-bottom: 4rem;
    background-color: #FDFEFF;
    .header_content{
        display: flex;
        padding: 1rem 0;
        align-items: center;
        justify-content: space-around;
        .navbar .list_a{
            font-size: .9rem;
            display: flex; 
            gap: 1.5rem;
            a{
                color: $darkLight;
            }
        }
    }
}